<%= form_with(model: plant) do |form| %>
  <% if plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
        <% plant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :planted_at %>
    <%= form.datetime_select :planted_at %>
  </div>

  <div class="field">
    <%= form.label :harvest_at %>
    <%= form.datetime_select :harvest_at %>
  </div>

  <div class="field">
    <%= form.label :garden_bed_id %>
    <%= form.text_field :garden_bed_id %>
  </div>

  <div class="field">
    <%= form.label :species_id %>
    <%= form.text_field :species_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
