<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @plant.name %>
</p>

<p>
  <strong>Planted at:</strong>
  <%= @plant.planted_at %>
</p>

<p>
  <strong>Harvest at:</strong>
  <%= @plant.harvest_at %>
</p>

<p>
  <strong>Garden bed:</strong>
  <%= link_to @plant.garden_bed.name, @plant.garden_bed %>
</p>

<p>
  <strong>Species:</strong>
  <%= link_to @plant.species.name, @plant.species %>
</p>

<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', plants_path %>
