<p id="notice"><%= notice %></p>

<h1>
  <%= @garden_bed.name %>
</h1>

<p>
  <%= @garden_bed.species_list %>
</p>

<p>
  <strong>Last weeded at:</strong>
  <%= @garden_bed.last_weeded_at %>
</p>

<%= link_to 'Edit', edit_garden_bed_path(@garden_bed) %> |
<%= link_to 'Back', garden_beds_path %>

<h2><%= @garden_bed.plants.count %> Plants</h2>

<ul>
  <% @garden_bed.plants.each do |plant| %>
    <li>
      <%= link_to plant.name, plant %>
    </li>
  <% end %>
</ul>